@import "template.css";

.header {
    grid-area: head;
    background: url("../images/wisdom.png") no-repeat center;
    background-size: cover;

}
@media(min-width: 700px) {
        
    .header {
    grid-area: head;
    background: url("../images/wisdomBig.png") no-repeat center;
    background-size: cover;    
    }
}