@import "footer.css";
@import "navbar.css";
@import "content.css";
@import "sidebar.css";

a  {
    text-decoration: none;
    color: black;
}

.pageContainer {
    display: grid;
    grid-template-rows: 450px 50px 2fr auto 30px;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "head head head head"
    "nav nav nav nav"
    "content content content content"
    "sidebar sidebar sidebar sidebar"
    "footer footer footer footer";
}

@media(min-width:770px) and (max-width:990px){
    .pageContainer {
        display: grid;
        grid-template-rows: 450px 50px 1fr 30px;
        grid-template-columns: repeat(5,1fr) 0.5fr;
        grid-template-areas: 
        "head head head head head head"
        "nav nav nav nav nav nav"
        "sidebar sidebar content content content ."
        "footer footer footer footer footer footer";
    }
}

@media(min-width:990px){
    .pageContainer {
        display: grid;
        grid-template-rows: 450px 50px 1fr 30px;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: 
        "head head head head head head"
        "nav nav nav nav nav nav"
        "sidebar sidebar content content content ."
        "footer footer footer footer footer footer";
    }
}
